@model MK_KupSkorer.Models.RaceModels.RaceDetail


@{
    ViewBag.Title = "UpdateRace";
}

<h2>Update Race </h2>

<!-- need to provide a way for a user to select the winner of the race and then proceed to the next race, until the 4th race has been tallied.-->

<div>
<p>Select the Race winner</p>

</div>

 

<div>
    <h3>Kup ID: @Model.KupId </h3>
    <h3>Race #: @ViewBag.RaceNumber</h3>
</div>

<form method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.RaceId)

    <label for="Winner">Winner</label>
    <select id="WinnerId" name="WinnerId">
        <option value="none" selected disabled hidden>Select Winner</option>

        @foreach (var p in ViewData["Players"] as IEnumerable<SelectListItem>)
        {
            <option value=@p.Value>@p.Text</option>
        }
        <option value="-1">CPU</option>
    </select>
    <input type="submit" name="UpdateRace" class="btn btn-primary" />
</form>