@model IEnumerable<MK_KupSkorer.Models.PlayerModels.PlayerListItem>

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FirstName, "EditPlayerAttributes", new { playerId = item.PlayerId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
    </tr>
}

</table>

<div class="align-self-lg-center">
    @Html.ActionLink("Create Player", "CreatePlayer", null, new { @class = "btn btn-primary btn-lg" })

</div>
